<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <div class="login-box">
            <h2>Challenge Room</h2>
            <h2><%= room.data.server %></h2>

            <form>
                <div class="user-box">
                    <input
                        id="playerSide"
                        type="text"
                        name=""
                        required=""
                        placeholder=""
                    />
                    <label>Select Side (Player 1 / Player 2)</label>
                </div>
                <div class="user-box">
                    <input
                        id="round1"
                        type="text"
                        name=""
                        required=""
                        placeholder=""
                    />
                    <label>Round 1 (Rock / Paper / Scissor)</label>
                </div>
                <div class="user-box">
                    <input
                        id="round2"
                        type="text"
                        name=""
                        required=""
                        placeholder=""
                    />
                    <label>Round 2 (Rock / Paper / Scissor)</label>
                </div>
                <div class="user-box">
                    <input
                        id="round3"
                        type="text"
                        name=""
                        required=""
                        placeholder=""
                    />
                    <label>Round 3 (Rock / Paper / Scissor)</label>
                </div>

                <a
                    onclick="submit( <%= room.data.server %> , <%= room.data.id %> )"
                >
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                </a>
            </form>
        </div>
        <%- include('partials/script') %>
    </body>
</html>
