<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    
    <body>
        <div class="container rounded mt-5 mb-5">
            <div class="row">
                <div class="col-md-4 border-right">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="font-weight-bold" ></h2>
                            <span> Create New Room Server</span>
                        </div>
                        <div class="forms">
                            <div class="inputs">
                                <span>Server</span>
                                <input
                                    type="text"
                                    id="inputServer"
                                    placeholder="example: 2000"
                                    value=""
                                />
                            </div>
                            
                            <button
                                id="savebutton"
                                class="btn btn-primary profile-button"
                                type="button"
                                onclick="createNewRoom()"
                            >
                                Create Room  <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 border-right">
                    <table
                        class="table table-striped table-hover table-borderless table-responsive card-1 p-4"
                    >
                        <thead>
                            <tr class="border-bottom text-center">
                                <th>
                                    <span class="ml-2"># </span>
                                </th>
                                <th>
                                    <span class="ml-2">Server</span>
                                </th>
                                <th>
                                    <span class="ml-2">Player 1</span>
                                </th>
                                <th>
                                    <span class="ml-4">Player 2</span>
                                </th>
                                <th>
                                    <span class="ml-4">Action</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i = 0; i<rooms.data.length; i++) { %>
                            <tr class="border-bottom text-center">
                                <td>
                                    <div class="p-2">
                                        <span class="font-weight-bold"><%= rooms.data[i].id %></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="p-2">
                                        <span class="font-weight-bold"
                                            ><%= rooms.data[i].server %></span
                                        >
                                    </div>
                                </td>
                                <td>
                                    <div class="p-2">
                                        <span class="font-weight-bold"
                                            ><%= rooms.data[i].player1 %></span
                                        >
                                    </div>
                                </td>
                                <td>
                                    <div class="p-2">
                                        <span class="font-weight-bold"
                                            ><%= rooms.data[i].player2%></span
                                        >
                                    </div>
                                </td>
                                <td>
                                    <div class="p-2 icons">
                                        <i onclick="selectHandler(<%= rooms.data[i].server %>)"
                                            class="fa-solid fa-right-to-bracket"
                                        ></i>
                                    </div>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%- include('partials/script') %>    
    </body>
</html>
